body,
html {
    height: 100%;
    width: 100%;
    align-self: center;
}

body {
    background-image: url("Images/background.png");
    background-position: center;
    background-repeat: 0;
    background-size: cover;
}
